body {
  font: 1em sans-serif;
  line-height: 1.25em;
  color: #222222;
  margin: 0; }

#authView {
  position: fixed;
  width: 100%; }

#authView > div {
  width: 100vw;
  max-width: 250px;
  padding: 1.5em;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #AAAAAA;
  margin-left: auto;
  margin-right: auto;
  transition: 1s ease opacity; }
  #authView > div input {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-left: -0.5em;
    border: 2px solid #888888; }
  #authView > div input#email {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: none;
    border-bottom: 1px solid #888888; }
  #authView > div input#password {
    margin-top: none;
    border-top: 1px solid #888888;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 0.5em; }
  #authView > div button#submit {
    margin-left: auto;
    margin-right: auto; }
  #authView > div.loading {
    opacity: 0.5; }
  #authView > div .error-banner {
    color: #F44336; }
  #authView > div .header {
    text-align: center; }
  #authView > div p {
    font-size: 0.75em; }
  #authView > div b {
    color: #888888; }

button.primary {
  display: block;
  border: none;
  background-color: #2196F3;
  border-radius: 2px;
  padding: 0.5em;
  color: #FFFFFF;
  font-weight: bold;
  box-shadow: 1px 1px 1px #AAAAAA;
  transition: 0.5s ease all; }
  button.primary:hover {
    box-shadow: 1px 1px 10px #AAAAAA; }

#classesView {
  margin: 0 0 0.5em 0;
  padding: 1.5em 0.5em;
  background: #303F9F;
  color: #FFFFFF;
  box-shadow: 0px 0px 5px #AAAAAA; }
  #classesView ul {
    list-style: none;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; }
  #classesView a, #classesView a:visited, #classesView a:hover {
    color: #FFFFFF;
    text-decoration: none; }
  #classesView a:hover {
    text-shadow: 0px 0px 5px #AAAAAA; }
  #classesView li.active {
    text-shadow: 0px 0px 5px #222222; }

#classView > ul {
  list-style: none;
  padding-left: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
#classView > ul > li {
  width: 90%;
  width: -webkit-calc(100% - 3em);
  width: -moz-calc(100% - 3em);
  width: calc(100% - 3em);
  padding: 1.5em;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px #AAAAAA;
  margin-bottom: 1em; }

.post-split * {
  display: block; }
.post-split .avatar {
  float: left; }

.avatar {
  width: 4em;
  height: 4em;
  border-radius: 100%;
  margin-right: 0.5em; }

.subtitle {
  color: #888888;
  font-size: 0.8em; }

.comments {
  font-size: 0.8em;
  line-height: 1.2; }
  .comments .avatar {
    width: 3em;
    height: 3em; }

textarea {
  width: 90%;
  width: -webkit-calc(100% - 1em);
  width: -moz-calc(100% - 1em);
  width: calc(100% - 1em);
  padding: 0.5em;
  background: #DDDDDD;
  border-radius: 2px;
  border: none;
  border-shadow: none;
  font-family: sans-serif; }

.message-view {
  transition: 1s ease opacity; }
  .message-view.loading {
    opacity: 0.5; }

.events-view .time-date-col {
  float: left; }
.events-view .bg-colored {
  width: 5em;
  height: 6em;
  padding: 0.2em;
  margin-right: 0.2em;
  border-radius: 2px;
  text-align: center;
  line-height: 0.2; }
.events-view .cal-number {
  font-size: 2em; }
.events-view .cal-number:after {
  display: block;
  position: absolute;
  margin-left: 20%;
  margin-top: -65%;
  content: "0";
  font-family: sans-serif;
  font-size: 0.5em; }
.events-view .cal-number-1:after {
  content: "1";
  margin-left: 32%; }
.events-view .cal-number-2:after {
  content: "2";
  margin-left: 32%; }
.events-view .cal-number-3:after {
  content: "3";
  margin-left: 32%; }
.events-view .cal-number-4:after {
  content: "4";
  margin-left: 32%; }
.events-view .cal-number-5:after {
  content: "5";
  margin-left: 32%; }
.events-view .cal-number-6:after {
  content: "6";
  margin-left: 32%; }
.events-view .cal-number-7:after {
  content: "7";
  margin-left: 32%; }
.events-view .cal-number-8:after {
  content: "8";
  margin-left: 32%; }
.events-view .cal-number-9:after {
  content: "9";
  margin-left: 32%; }
.events-view .cal-number-10:after {
  content: "10"; }
.events-view .cal-number-11:after {
  content: "11"; }
.events-view .cal-number-12:after {
  content: "12"; }
.events-view .cal-number-13:after {
  content: "13"; }
.events-view .cal-number-14:after {
  content: "14"; }
.events-view .cal-number-15:after {
  content: "15"; }
.events-view .cal-number-16:after {
  content: "16"; }
.events-view .cal-number-17:after {
  content: "17"; }
.events-view .cal-number-18:after {
  content: "18"; }
.events-view .cal-number-19:after {
  content: "19"; }
.events-view .cal-number-20:after {
  content: "20"; }
.events-view .cal-number-21:after {
  content: "21"; }
.events-view .cal-number-22:after {
  content: "22"; }
.events-view .cal-number-23:after {
  content: "23"; }
.events-view .cal-number-24:after {
  content: "24"; }
.events-view .cal-number-25:after {
  content: "25"; }
.events-view .cal-number-26:after {
  content: "26"; }
.events-view .cal-number-27:after {
  content: "27"; }
.events-view .cal-number-28:after {
  content: "28"; }
.events-view .cal-number-29:after {
  content: "29"; }
.events-view .cal-number-30:after {
  content: "30"; }
.events-view .cal-number-31:after {
  content: "31"; }

h1 {
  line-height: 1.05; }

h1 > a {
  word-break: break-all;
  display: inline-block; }

/*# sourceMappingURL=out.css.map */
